<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar Producto</title>
</head>
<body>
    <div>
        <div>
            <h1>Modificar producto</h1>
            <h3 aligne="right"><a href="/funciones/listaProducto">volver</a></h3>
        </div>
    </div>
    <div>
            <form action="/api/productos/put/<%=producto._id%>" name="formularia" method="post">
            <div>
                <div class="form-group ml-2">
                    <label for="nombre">Nombre Prod</label>
                    <input type="text" name="nombre" id="nombre" value="<%=producto.nombre%>" class="form-control w-50" required>
                </div>
                <div class="form-group ml-2">
                    <label for="tipo">Producido</label>
                    <select name="tipo" id="tipo" class="form-control w-50">
                        <option  value="false">false</option>
                        <option value="true">true</option>
                    </select>
                </div>
                <div class="form-group ml-2">
                    <label for="cantidadProd">Cantidad</label>
                    <input type="number" name="cantidadProd" id="cantidadProd" value="<%=producto.cantidadProd%>" class="form-control w-50" required>
                </div>
                <div class="form-group ml-2">
                    <label for="precio">Precio</label>
                    <input type="number" name="precio" id="precio" value="<%=producto.precio%>" class="form-control w-50" required>
                </div>
                <div class="form-group ml-2">
                    <label for="comis">precio envio</label>
                    <input type="number" name="comis" id="comis" value="<%=producto.comis%>" class="form-control w-50" required>
                </div>
                <div class="form-group ml-2">
                    <label for="retornable">Retorna algo</label>
                    <select name="retornable" id="retornable" class="form-control w-50"> 
                        <option value="false">false</option>
                        <option value="true">true</option>
                    </select>
                </div>
                <div class="form-group ml-2">
                    <label><button class="btn btn-primary">enviar</button></label>
                </div>
                <hr>
                
                <div id="agregInsumos">   <!--    ESTO VA A CAMBIAR-->
                    <div class="form-group ml-2">
                        <label for="nombreIns">Insumo</label>
                        <select name="nombreIns" id="nombreIns" class="form-control w-50" disabled>
                            <% for(i=0;i < nombre.length;i++){%>
                                <option value="<%= nombre[i].nombre%>"><%= nombre[i].nombre%></option>
                            <%} %>
                        </select>
                    </div>
                    <div class="form-group ml-2">
                        <label for="cantidadIns">Cantidad</label>
                        <input type="number" name="cantidadIns" id="cantidadIns" placeholder="cant ins" class="form-control w-50" disabled>
                    </div>
                    <div class="form-group ml-2">
                        <input type="button" value="mas insumo" id="btn-ins" class="form-control w-50" disabled>
                    </div>
                </div>
                <hr>    
                <div id="agregRetorn">  
                    <div class="form-group ml-2"> 
                        <label for="nombreRetorn">Retorna</label>
                        <select name="insRetorn" id="nombreRetorn" class="form-control w-50" disabled>
                            <% for(i=0;i < nombre.length;i++){%>
                                <option value="<%= nombre[i].nombre%>"><%= nombre[i].nombre%></option>
                            <%} %>
                        </select>
                    </div>
                    <div class="form-group ml-2">
                        <label for="cantRetorn">Cantidad</label>
                        <input type="number" name="cantRetorn" id="cantRetorn" value="cant retornable" class="form-control w-50" disabled>
                    </div>
                    <div class="form-group ml-2">
                        <input type="button" value="insumo retorn" id="btn-retorn" class="form-control w-50" disabled>
                    </div>
                </div>
                </div>
            </form>
    </div>
    <script src="../../../js/formProd.js" type="text/javascript" language="javascript"></script>
    <script src="../../../js/formRetorn.js" type="text/javascript" language="javascript"></script>
</body>
</html>