<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Modificar pedidos</h1>
            <h3 aligne="right"><a href="/funciones/listaPedido">volver</a></h3>
        </div>
    </div>
    <div>
        <center>
        <form action="/api/pedidos/put/<%=pedido._id%>" name="formularia" method="post">
            <label><select name="vendedor" id="vendedor">
                <% for(i=0;i < vendedor.length;i++){%>
                    <option value="<%=vendedor[i].user%>"> <%=vendedor[i].user%></option>
                    <%} %>
                    <option value="LOCAL">LOCAL</option>
            </select></label><br>
            <label><input type="clienteLis" name="cliente" id="cliente" value="<%=pedido.cliente%>" autocomplete="off">
                <datalist id="clienteLis">
                    <% for(i=0;i < cliente.length;i++){%>
                    <option value="<%=cliente[i].nombre%>"></option>
                    <%} %>
                </datalist></label><br>
                <label><input type="text" name="comuna" id="comuna" value="<%=pedido.comuna%>" ></label><br>
            <label><input type="text" name="calle" id="calle" value="<%=pedido.calle>" ></label><br>
            <label><input type="text" name="nCasa" id="nCasa" value="<%=pedido.nCasa%>" ></label><br>
                <label><select name="estado" id="estado">
                    <option value="no entregado">no entregado</option>
                    <option value="entregado">entregado</option>
                </select></label><br>
            <label><select name="metPago" id="metPago">
                <option value="contado">Contado</option>
                <option value="transferencia">Transferencia</option>
            </select></label><br>
            <label><input type="date" name="fecha" id="fecha" value="<%=pedido.fecha%>" ></label><br>           
            <label><button class="btn btn-primary">enviar</button></label><br>
            <div id="agregaProd" >
            <% for (i=0 ; i < pedido.producto.length ; i++) {%>
                <label><select name="producto" id="producto">
                    <% for(j=0;j < producto.length;j++){%>
                        <option value="<%=producto[j].nombre%>"> <%=producto[j].nombre%></option>
                        <%} %>
                </select></label>
                <label><input type="number" name="cantidad" id="cantidad" value="<%=pedido.cantidad[i]%>"></label>
                
                <% if(i==0){%> 
                    <label><input type="button" id="btn-ped" value="más producto"></label>
                   <%} %>
                   <br>
                <%} %> 
            </div>  
        </form>
    </center>
    </div>
    <script src="../../../js/formPed.js" type="text/javascript" language="javascript"></script>
</body>
</html>